.page-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
  line-height: 1.07;
  color: #4d5ae5;
}
.flex-container .page-menu-list {
  display: flex;
  margin: 0 auto;
  margin-left: 347px;
  align-items: center;
  flex-direction: row;
  align-items: center;
}

.flex-container {
  margin: 40px;
  border-bottom: 1px solid #e7e9fc;
  width: 1440px;
  height: 72px;
}

.page-menu-list a {
  display: flex;
  flex-direction: row;
}
.flex-container {
  display: flex;
  flex-direction: row;
}

.contacts {
  display: flex;
  text-align: center;
}

.span1 {
  color: #4d5ae5;
}

.spa1 {
  color: #f4f4fd;
}

.page-menu-list a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  display: flex;
  width: 261px;
  height: 24px;
}
.page-menu-list li {
  list-style-type: none;
}

a {
  color: #2e2f42;
  text-decoration: none;
}
a:hover {
  color: #404bbf;
  cursor: pointer;
}
a:focus {
  color: #404bbf;
}
.page-menu-list li {
  list-style-type: none;
  text-decoration: none;
}
.contacts a {
  text-decoration: none;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
  text-decoration: none;
  width: 193px;
  height: 108px;
}
.contacts a:hover {
  color: #9747ff;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #2e2f42;
  width: 1440px;
}
h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}
.first-section {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  text-align: center;
  top: 260px;
  margin: 0;
  display: flex;
}

.first-section h1 {
  text-align: center;
  margin-top: 260px;
  width: 496px;
  height: 120px;
  margin-left: 472px;
}
button {
  margin-top: 428px;
  margin-bottom: 636px;
  display: flex;
  padding: 16px, 32px;
}
button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
}
.about-us {
  list-style: none;
  font-size: 20px;
  font-weight: 500px;
}
.about-us p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
h2 {
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
p {
  font-size: 16px;
  font-style: unset;
  color: #434455;
  line-height: 1.5;
  font-weight: 400px;
}
h3 {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}
h4 {
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.our-team {
  font-size: 16px;
  list-style-type: none;
  font-weight: 500;
  line-height: 1.2;
}
.our-team p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
h5 {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  list-style: none;
  font-weight: 500px;
}
.portfolio-content li {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  line-height: 1.2;
  font-style: normal;
}
.portfolio-content a {
  font-size: 20px;
  font-weight: 500px;
  line-height: 1.2;
}
.portfolio-content p {
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.5;
  color: #434455;
}
h6 a {
  text-decoration: none;
}

.button {
  background-color: #4d5ae5;
  border: none;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
button:hover {
  background-color: #404bbf;
  color: #ffffff;
  cursor: pointer;
}
button:focus {
  background-color: #404bbf;
  color: #ffffff;
  cursor: pointer;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #f4f4fd;
}
footer {
  background-color: #2e2f42;
  height: 312px;
  width: 1440px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.16;
  font: weight 700px;
  font-style: normal;
  text-decoration: none;
}

.studio-footer {
  color: #f4f4fd;
}
.span2 {
  color: #4d5ae5;
}
