.page-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight:700px;
  font-style: normal;
  line-height:1.07;
  color:#4D5AE5;
}
.spa{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color:#2E2F42;

}
.spa1 {
  color:#F4F4FD;
}

.page-menu-list a{
font-size: 16px;
font-weight: 500;
line-height:1.5;
text-decoration: none;

}
.page-menu-list li{
    list-style-type:none ;
}

a {
  color:#2E2F42;
  text-decoration: none;
}
a:hover {
  color: #404bbf;
  cursor: pointer;
}
a:focus {
  color: #404bbf;
}
.page-menu-list li {
  list-style-type: none;
  text-decoration: none;
}
.contacts a{
    text-decoration: none;
    color:#2E2F42;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #2e2f42;
}
h1 {
  font-size: 56px;
  line-height: 1.07;
  letter: 2%;
  text-align: center;
  color: #ffffff;
  
}
.first-section{
  background-color:#2E2F42;
  height: 600px;
  text-align: center;
  top: 260px;
  vertical-align: middle;
  
}
button{
  background-color:#4D5AE5;
  color:#FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter:4%;
}
.about-us {
    list-style: none;
    font-size 20px;
    font-weight 500px;;
}
.about-us p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter:
}
h2 {
  font-size: 20px;
  line-height: 1.2;
  letter: 2%;
  color:#2E2F42;

}
p {
  font-size: 16px;
  font-style: unset;
  color: #434455;
  line-height: 1.5;
  letter: 2%;
  font-weight: 400px;
}
h3 {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}
h4 {
  font-size: 20px;
  line-height: 1.2;
  letter: 2%;
  color:#2E2F42;
}
.our-team {
  font-size: 16px;
  list-style-type: none;
  font-weight: 500;
  letter:2%;
  line-height: 1.2;
}
.our-team p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter:2%
}
h5 {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  list-style: none;
  font-weight: 500px;
}
.portfolio-content li {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  line-height: 1.2;
  font-style: normal;
  letter: 2%;
  
}
.portfolio-content a{
    font-size: 20px;
    font-weight: 500px;
    line-height:1.2;
    letter:2%;
    
}
.portfolio-content p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.5;
    color:#434455;
    letter:2%;
}
h6 a {
  text-decoration: none;
  
}


.button {
  background-color: #4d5ae5;
  border: none;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
button:hover {
  background-color: #404bbf;
  color: #ffffff;
  cursor: pointer;
}
button:focus {
  background-color: #404bbf;
  color: #ffffff;
  cursor: pointer;
}

  footer p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter:2%;
    font-weight: 400;
    color: #F4F4FD
    
      
}
footer {
  background-color: #2E2F42;
  height: 312px;
  width: 1440px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height:1.16 ;
  letter:3%;
  font: weight 700px;;
  font-style: normal;
  text-decoration: none;
}

